<hmtl>
	<head>
		<meta charset="utf-8">
		<title>Penn Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
		<meta name="author" content="Ian Sibner">
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" >
		
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#" style ="font-size : 22px">Penn Projects</a>
					<div class="nav-collapse collapse">
					<ul class="nav">
					  <li class="active"><a href="#">Home</a></li>
					  <li><a href="/about">About DinPhil</a></li>
					  <li><a href="/submit">Submit a Project</a></li>
					</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	<div class="pagination center">
	  <ul>
	  	<li>
		    {% if page_projects.has_previous %}
	            <a href="?page={{ page_projects.previous_page_number }}">«</a>
	        {% else %}
	        	<span class="current">«</span>
	        {% endif %}
	    </li>
	    {% for pagenum in page_projects.paginator.page_range %}
			{% if page_projects.number != pagenum %}
				<li><a href="?page={{ pagenum }}" style="text-decoration:underline">{{ pagenum }}</a></li>
			{% else %}
				<li><span class="current">{{ pagenum }}</span></li>
			{% endif %}
		{% endfor %}
		<li>
		    {% if page_projects.has_next %}
	            <a href="?page={{ page_projects.next_page_number }}">»</a>
	        {% else %}
	        	<span class="current">»</span>
	        {% endif %}
	    </li>
	  </ul>
	</div>
	<div id="picture_tiles">
		{% if page_projects %}
			{% for project in page_projects %}
				<a href = "/projects/{{ project.id }}/">
					<div class="tile">
						{% if project.thumbnail_url %}
						<img src="{{project.thumbnail_url}}"> <!--must be changed to cover photo reference-->
						{% else %}
						<img src="http://i.imgur.com/UowPi.gif">
						{% endif %}
						<div class="caption">
							<h5>{{ project.name }}</h5>
						</div>
					</div>
				</a>
			{% endfor %}
		{% else %}
			<h1>No projects are available.</h1>
		{% endif %}
		
	</div>

	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner no-shadow">
			<div class="container-fluid">
				<span class="brand" id="footer">Created by <a href="http://www.tomshen.me/">Tom Shen</a> &amp; Ian Sibner</span>				
			</div>
		</div>
	</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
		<script src="/static/bootstrap/js/bootstrap.min.js"> </script>
		<script src="/static/bootstrap/js/jquery.masonry.js"> </script>
		<script type="text/javascript">
		$().ready(function(){
			var $container = $('#picture_tiles');
			$container.imagesLoaded(function(){
			  $container.masonry({
				itemSelector : '.tile',
				isAnimated: true,
				 animationOptions: {
					duration: 550,
					queue: true
				  },
				columnWidth: function( containerWidth ) {
					return containerWidth / 6;
				  }
			  });
			});
		});
		</script>
	</body>
</html>