<hmtl>
	<head>
		<meta charset="utf-8">
	    <title>{{project.name}}- Penn Projects</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
	    <meta name="author" content="Ian Sibner">
	    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="../../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    <link href="../../static/css/style.css" rel="stylesheet">
	    
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	  </a>
	          <a class="brand" href="/../">Penn Projects</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="/../">Home</a>
	              </li>
	              <li class="">
	                <a href="./getting-started.html">About DinPhil</a>
	              </li>
	              <li class="active">
	                <a href="./scaffolding.html">Submit a Project</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>

		<div class = "container">
			<div class = "row-fluid">
				<a id ="demo_url" class = "pull-right" href = "{{project.source_url}}"><img src = "http://i.imgur.com/UMB5c.png" height = "64px" width = "64px"></a>
				<a class = "pull-right" href = "{{project.demo_url}}"><button class="btn btn-large btn-primary" type="button">View Demo</button></a>
				<h1>{{project.name}}</h1>

				<h3 id = "authors">By {{project.authors}}. Submitted {{project.sub_date}}</h3>
				<h3>{{project.pitch}}</h3>
				<p class = "description">{{project.description}}</p>
				<iframe class="imgur-album" style = "padding-left : 40px ;" width="1090px" height="550" frameborder = "0" src="{{project.album_url}}/embed"></iframe>
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
   	 	<script src="../../static/bootstrap/js/bootstrap.min.js"> </script>
	</body>
</html>