<hmtl>
	<head>
		<meta charset="utf-8">
	    <title>{{project.name}} - Penn Projects</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
	    <meta name="author" content="Ian Sibner">
	    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    <link href="/static/css/style.css" rel="stylesheet">
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" >
	    
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	  </a>
	          <a class="brand" href="/">Penn Projects</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="/">Home</a>
	              </li>
	              <li class="">
	                <a href="/about">About DinPhil</a>
	              </li>
	              <li class="">
	                <a href="/submit">Submit a Project</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>

		<div class = "container">
			<div class = "row-fluid">
				{% if project.source_url %}<a id ="project_source" class = "pull-right" href = "{{project.source_url}}"><img src = "http://i.imgur.com/UMB5c.png" height = "64px" width = "64px"></a>{% endif %}
				{% if project.demo_url %}<a class = "pull-right" href = "{{project.demo_url}}" ><button class="btn btn-large btn-primary" type="button" style = "padding : 5px 10px">View Demo</button></a>{% endif %}
				{% if project.name %}<h1>{{project.name}}</h1>{% endif %}

				<h3 id = "authors">{% if project.authors %}By {{project.authors}}. {% endif %}{% if project.sub_date %}Submitted {{project.sub_date}}{% endif %}</h3>
				{% if project.pitch %}<h3>{{project.pitch}}</h3>{% endif %}
				{% if project.description %}<h6 class = "description">{{project.description}}</h6>{% endif %}
				{% if project.album_url %}<iframe class="imgur-album" style = "" width="100%" height="550" frameborder = "0" src="{{project.album_url}}/embed"></iframe>{% endif %}
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
   	 	<script src="/static/bootstrap/js/bootstrap.min.js"> </script>
	</body>
</html>