<hmtl>
	<head>
		<meta charset="utf-8">
	    <title>Penn Projects</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
	    <meta name="author" content="Ian Sibner">
	    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    <link href="css/style.css" rel="stylesheet">
	    
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="./index.html">Penn Projects</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="./index.html">Home</a>
	              </li>
	              <li class="">
	                <a href="./getting-started.html">About DinPhil</a>
	              </li>
	              <li class="active">
	                <a href="./scaffolding.html">Submit a Project</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>

		<div class = "container">
			<div class = "row-fluid">
				<h1>{{name}}</h1>
				<h3 id = "authors">By {{authors}}. Submitted {{sub_date}} </h3>
				<h3>{{pitch}}</h3>
				<p class = "demo-url">{{demo_url}}</p>
				<p class = "github-url">{{source_url}}</p>
				<p class = "description">{{description}}</p>
				<iframe class="imgur-album" style = "padding-left : 40px ;" width="1090px" height="550" frameborder = "0" src="{{album_url}}"></iframe>
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
   	 	<script src="js/bootstrap.min.js"> </script>
   	 	
	</body>
</html>