<hmtl>
	<head>
		<meta charset="utf-8">
		<title>Penn Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
		<meta name="author" content="Ian Sibner">
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" >
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container-fluid">
			  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="brand" href="/">Penn Projects</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
				  <li class="">
					<a href="/">Home</a>
				  </li>
				  <li class="">
					<a href="/about">About DinPhil</a>
				  </li>
				  <li class="active">
					<a href="/submit">Submit a Project</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>

		<div class = "container-fluid" id = "form">
			<div class = "row-fluid">
				{% if form.errors %}
					<p id="error-message">
						Please correct the error{{ form.errors|pluralize }} below.
					</p>
				{% endif %}

				<form action="" method="post" class ="span8 offset2">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Submit">
				</form>
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
   	 	<script src="/static/bootstrap/js/bootstrap.min.js"> </script>
		<script src="/static/bootstrap/js/jquery.autosize.js"> </script>
		{% if submitted %}
			<script src="/static/js/bootbox.min.js"> </script>
			<script type="text/javascript">
				$(document).ready(function(){
					bootbox.dialog("Project submission successful!", [{
					    "label" : "Submit another project",
					    "class" : "btn-success",
					    "callback": function() {
					        window.location.replace("/submit");
					    }
					}, {
					    "label" : "Penn Projects home",
					    "class" : "btn-danger",
					    "callback": function() {
					        window.location.replace("/");
					    }
					}, {
					    "label" : "GO DANCING!",
					    "class" : "btn-primary",
					    "callback": function() {
					        window.location.replace("http://www.youtube.com/watch?v=ZZ5LpwO-An4");
					    }
					}]);


				});
			</script>
		{% endif %}
		<script type="text/javascript">
			$(document).ready(function(){
			    $("textarea").autosize({append: "\n"});  
			    $("input").addClass("defaultText").addClass("defaultTextActive");
			    $("input").last().removeClass("defaultText").removeClass("defaultTextActive");
				$("textarea").addClass("defaultText").addClass("defaultTextActive");
			});
		</script>
		<script type="text/javascript">
		<!--
		$(document).ready(function()
		{

			var nameString = "e.g. My Really Awesome Project",
			authorString = "List each author on a new line",
			demoString = "e.g. myawesomesite.com", 
			descriptionString = "Tell the world what you did and how you did it.",
			albumString = "Upload your pictures to an album on imgur.com, then put the link here.",
			pitchString = "Give us an overview with a ten-second pitch.",
			sourceString = "e.g. github.com/tomshen/penn-projects/",
			thumbnailString = "Your project's preferred thumbnail- e.g. imgur.com/yourURL";
			//Jeez, I should have put these in an array... dat boilerplate...

			$("#id_name").attr({title:nameString});
			$("#id_authors").attr({title:authorString});
			$("#id_demo_url").attr({title:demoString});
			$("#id_description").attr({title:descriptionString});
			$("#id_album_url").attr({title:albumString});
			$("#id_pitch").attr({title:pitchString});
			$("#id_source_url").attr({title:sourceString});
			$("#id_thumbnail_url").attr({title:thumbnailString});



		    $(".defaultText").focus(function(srcc)
		    {
		        if ($(this).attr("placeholder") == $(this).attr("title"))
		        {
		            $(this).removeClass("defaultTextActive");
		            $(this).removeAttr("placeholder");
		        }
		    });
		    
		    $(".defaultText").blur(function()
		    {	
		    	var currentVal = $(this).val().trim();
		        if (currentVal == "")
		        {
		            $(this).addClass("defaultTextActive");
		            var titleString = $(this).attr("title");
		            $(this).attr("placeholder", titleString);
		        }
		        $(this).val(currentVal);//Trim value string
		    });
		    
		    $(".defaultText").blur();        
		});
		//-->
		</script>
	</body>
</html>