
<hmtl>
	<head>
		<meta charset="utf-8">
	    <title>ClassyStache- Penn Projects</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="A showcase for cool projects from the geeks at University of Pennsylvania.">
	    <meta name="author" content="Ian Sibner">
	    <link href="../../projects/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="../..//projects/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    <link href="../../projects/static/css/style.css" rel="stylesheet">
	    
			
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="../../">Penn Projects</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="../../">Home</a>
	              </li>
	              <li class="">
	                <a href="./getting-started.html">About DinPhil</a>
	              </li>
	              <li class="active">
	                <a href="./scaffolding.html">Submit a Project</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>

		<div class = "container">
			<div class = "row-fluid">
				<a style = "float:right" href = "https://github.com/tomshen/ClassyStache"><img src = "http://i.imgur.com/UMB5c.png" height = "64px" width = "64px"></a>
				<h1>ClassyStache</h1>
				<h3 id = "authors">By Tom Shen, Taylor Poulos. Submitted Dec. 29, 2012, 11:31 p.m.. </h3>
				<h3>Asteroids with a classy flair</h3>
				<a class = "demo-url" href = "http://tomshen.github.com/ClassyStache/"><p>View the demo!</p></a>
				<p class = "description">Have you ever wanted to fly around as a mustache, and shoot little noses at malignant monocles? Well, now you can finally live out your fantasies!</p>
				<iframe class="imgur-album" style = "padding-left : 40px ;" width="1090px" height="550" frameborder = "0" src="http://imgur.com/a/98aeb/embed"></iframe>
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-latest.js"> </script>
   	 	<script src="../../static/js/bootstrap.min.js"> </script>
	</body>
</html>